<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lenovo.m2.integral.soa.dao.CouponInfoDao">

        <update id="updateCoupon" parameterType="com.lenovo.m2.integral.soa.domain.IntegralCoupon">
                UPDATE integral_coupon
                <set>
                        <if test="couponName!=null">coupon_name=#{couponName},</if>
                        <if test="money!=null">money=#{money},</if>
                        <if test="begintime!=null">begintime=#{begintime},</if>
                        <if test="endtime!=null">endtime=#{endtime},</if>
                        <if test="useScope!=null">use_scope=#{useScope},</if>
                        <if test="platform!=null">platform=#{platform},</if>
                </set>
                WHERE coupon_id=#{couponId}
        </update>

        <insert id="addCoupon" parameterType="com.lenovo.m2.integral.soa.domain.IntegralCoupon">
                insert into integral_coupon
                  (coupon_id,
                  coupon_name,
                  money,
                  begintime,
                  endtime,
                  use_scope,
                  platform)
                values
                  (#{couponId},
                  #{couponName},
                  #{money},
                  #{begintime},
                  #{endtime},
                  #{useScope},
                  #{platform})
        </insert>

        <select id="getCoupon" parameterType="java.lang.String" resultMap="integralCouponResultMap">
            SELECT coupon_id,coupon_name,money,begintime,endtime,use_scope,paltform
            FROM integral_coupon
            WHERE coupon_id=#{couponId}
        </select>

        <resultMap id="integralCouponResultMap" type="com.lenovo.m2.integral.soa.domain.IntegralCoupon">
            <id column="coupon_id" property="couponId"/>
            <result column="coupon_name" property="couponName"/>
            <result column="money" property="money"/>
            <result column="begintime" property="begintime"/>
            <result column="endtime" property="endtime"/>
            <result column="use_scope" property="useScope"/>
            <result column="platform" property="platform"/>
        </resultMap>

        <delete id="deleteCoupon" parameterType="java.lang.String">
            DELETE FROM integral_coupon WHERE coupon_id=#{couponId}
        </delete>



</mapper>