<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lenovo.m2.integral.soa.dao.IntegralExchangeDao">

        <insert id="addIntegralExchange" parameterType="com.lenovo.m2.integral.soa.domain.IntegralExchange">
                insert into integral_exchange
                (orderId,
                item_name,
                integral_number,
                exchange_time,
                lenovo_id,
                member_id)
                values
                (#{orderId},
                #{itemName},
                #{integralNum},
                #{exchangeTime},
                #{lenovoId},
                #{memberId})
        </insert>

        <select id="getIntegralExchangeByPage" parameterType="com.lenovo.m2.integral.soa.domain.IntegralExchangeByPage" resultMap="integralExchangeResultMap">
                SELECT orderId,item_name,integral_number,exchange_time,lenovo_id,member_id
                FROM integral_exchange
                WHERE member_id=#{memberId}
                <if test="begintime!=null and endtime!=null">
                        AND exchange_time BETWEEN #{begintime} AND #{endtime}
                </if>
                ORDER BY exchange_time DESC
        </select>

        <resultMap id="integralExchangeResultMap" type="com.lenovo.m2.integral.soa.domain.IntegralExchange">
                <id column="orderId" property="orderId"/>
                <result column="item_name" property="itemName"/>
                <result column="integral_number" property="integralName"/>
                <result column="exchange_time" property="exchangeTime"/>
                <result column="lenovo_id" property="lenovoId"/>
                <result column="member_id" property="memberId"/>
        </resultMap>

        <delete id="deleteIntegralExchange" parameterType="com.lenovo.m2.integral.soa.domain.IntegralExchange">
                DELETE FROM integral_exchange WHERE member_id=#{memberId}
                <if test="orderId!=null">
                        AND order_id=#{orderId}
                </if>
        </delete>

</mapper>