<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lenovo.m2.integral.soa.dao.IntegralItemBindingDao">

        <insert id="addIntegralItem" parameterType="com.lenovo.m2.integral.soa.domain.IntegralItem">
                insert into integral_item
                (item_id,
                item_name,
                coupon_id,
                binding_type,
                create_id,
                create_time,
                update_id,
                update_time)
                values
                (#{itemId},
                #{itemName},
                #{couponId},
                #{bindingType},
                #{createId},
                #{createTime},
                #{updateId},
                #{updateTime})
        </insert>

        <select id="getIntegralItem" parameterType="java.lang.String" resultMap="integralItemResultMap">
                SELECT item_id,item_name,coupon_id,binding_type
                FROM integral_item
                WHERE item_id=#{itemId}
        </select>

        <select id="getItemAndCouponInfo" parameterType="java.lang.String" resultMap="itemAndCouponResultMap">
                SELECT i.item_id,i.item_name,i.binding_type,c.coupon_id,c.coupon_name,c.money,c.begintime,c.endtime,c.use_scope,c.platform
                FROM integral_item i
                LEFT JOIN integral_coupon c ON i.coupon_id=c.coupon_id
                WHERE item_id=#{itemId}
        </select>

        <resultMap id="itemAndCouponResultMap" type="com.lenovo.m2.integral.soa.domain.ItemAndCoupon">

        </resultMap>

        <resultMap id="integralItemResultMap" type="com.lenovo.m2.integral.soa.domain.IntegralItem">
                <id column="item_id" property="itemId"/>
                <result column="item_name" property="itemName"/>
                <result column="coupon_id" property="couponId"/>
                <result column="binding_type" property="bindingType"/>
        </resultMap>

        <update id="updateIntegralItem" parameterType="com.lenovo.m2.integral.soa.domain.IntegralItem">
                UPDATE integral_coupon
                <set>
                        <if test="itemName!=null">item_name=#{itemName},</if>
                        <if test="couponId!=null">coupon_id=#{couponId},</if>
                        <if test="bindingType!=null">binding_type=#{bindingType},</if>
                        <if test="updateId!=null">update_id=#{updateId},</if>
                        <if test="updateTime!=null">update_time=#{updateTime},</if>
                </set>
                WHERE item_id=#{itemId}
        </update>

        <delete id="deleteIntegtalItem" parameterType="java.lang.String">
                DELETE FROM integral_item WHERE item_id=#{itemId}
        </delete>



</mapper>