<?xml version="1.0" encoding="UTF-8"?>
<!-- Reference Manual http://logback.qos.ch/manual/index.html -->
<configuration>
    <property name="log.path" value="/data/logs/dubbo" />

    <!--<configuration scan="true" scanPeriod="60 seconds" debug="false"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.FileAppender">
        <file>${log.path}/integral-soa.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5p] projectName : integral-soa %X{elk_leId} %X{elk_lenovoId} %X{elk_requestId} %X{ip} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
    </appender>

	<appender name="exchangeCoupon_integral" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/message/integral/integral.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5p] projectName : integral-soa %X{elk_leId} %X{elk_lenovoId} %X{elk_requestId} %X{ip} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.lenovo.m2.integral.soa.integral" level="info" additivity="false">
        <appender-ref ref="exchangeCoupon_integral" />
    </logger>
	
	<appender name="exchangeCoupon_coupon" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/message/coupon/coupon.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5p] projectName : integral-soa %X{elk_leId} %X{elk_lenovoId} %X{elk_requestId} %X{ip} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.lenovo.m2.integral.soa.coupon" level="info" additivity="false">
        <appender-ref ref="exchangeCoupon_coupon" />
    </logger>

    <logger name="org.springframework" level="WARN" additivity="false"/>
    <logger name="org.apache.commons.beanutils" level="WARN" additivity="false"/>
    <logger name="org.apache.http" level="WARN" additivity="false"/>
    <logger name="org.apache.velocity" level="WARN" additivity="false"/>
    <logger name="com.lenovo.m2.arch.framework" level="WARN" additivity="false"/>
    <logger name="com.lenovo.admin.extra.client" level="DEBUG" additivity="false"/>
    <logger name="ch.qos.logback" level="DEBUG" additivity="false"/>


    <!--<logger name="com.ibatis" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />-->



    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>